body
{
    margin: 0px;
    padding: 0px;
    font-family: 'arial';
}


li, a, a:hover
{
    color: #A3B0B9;
}

/* Delete icon hover. */
.delete-message:hover, .puretesting:hover, .fa-caret-down:hover
{
    cursor: pointer;
}

.account
{
    background-color: #838E95;
}

#radio-logo
{
    width: 25%;
}

.chronochat
{
    position: absolute;
    bottom: 0;
}

.sidebar
{
    background-color: #636A70;
    min-width: 300px;
    max-width: 20%;
    position: sticky;
    top: 0;
    min-height: 100vh;
    max-height: 100vh;
}

.message
{
    border-bottom: 5px solid #F8F9FC;
}

.phone-number
{
    background-color: #B0E3A0;
}

.profile-picture, .winner-profile-picture
{
    width: 100px;
}

::placeholder
{
    color: lightgray;
}

/* Left bar styling.  */
ul
{
    list-style-type: none;
}

a, a:hover
{
    color: #B1BEC8;
}

#account
{
    margin-left: 25px;
}

#block
{
    margin: 50px 0px;
}

#accc
{
    width: 20rem;
}

.message-content
{
    height: 25px;
    max-width: 500px;
    /* width: 750px; */
}

#wrapper
{
    min-width: 750px;
    word-break: break-all;
}

#start-date, #start-date-time, #end-date, #end-date-time
{
    width: calc(199px / 2);
}

#start-dt, #end-dt
{
    height: 30px;
}

td
{
    min-width: 150px;
}
